langgraph~=0.2.59
langgraph-sdk
langsmith~=0.2.3
langchain-community~=0.3.11
langchain-core~=0.3.24
langchain-openai~=0.2.12
notebook
tavily-python
langgraph-cli
langchain-pinecone
langchain_anthropic
typing_extensions~=4.12.2
pydantic~=2.10.3
langchain-text-splitters~=0.3.2
firecrawl-py